		
 			<div class="media" style="margin-top:30px;">
                    <a class="pull-left" href="#">
                        <% if !comment.user.image.blank? %>
                            <img class="media-object img-circle" height="40px" src="<%= comment.user.image %>" alt="">
                        <% else %>
                            
                            <%= image_tag ("avatar.jpg"), :class => "media-object img-circle", :height => "40px" %>
                        <% end %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= comment.user.user_name %>
                            <small>About <%= time_ago_in_words(comment.created_at) %> ago</small>
                        </h4>
                        <%= simple_format(comment.comment)  %>
                    </div>
                </div>
                        