<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

<script type="text/javascript">
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        if($(this).attr("value")=="article"){
            $(".option").not(".article").hide();
            $(".article").fadeIn();
        }
        if($(this).attr("value")=="question"){
            $(".option").not(".question").hide();
            $(".question").fadeIn();
        }
    });
});


</script>

<style type="text/css">

.option {
        display: none;
      }

.form {
  display: none;
}


</style>

          <h3>What Type of Submission?</h3><br>
              <div class="form-group" style="margin-bottom:30px;">  
                      <label class="radio-inline">
                           <%= f.radio_button :type_of_article, "article" %>
                          Article <i class="fa fa-newspaper-o"></i>
                      </label>
                      <label class="radio-inline">
                           <%= f.radio_button :type_of_article, "question" %>
                          Question for Discussion <i class="fa fa-question-circle"></i>
                      </label>
              </div>

              

      <div class="form article question option">
        <div class="article option">
            <h3>Article</h3>
        </div>

        <div class="question option">
          <h3>Question for Discussion</h3>
        </div>
              <div class="form-group">
              
              <div class="article option">
                <%= f.label :title, "Article Title" %><br>
              </div>

              <div class="question option">
                <%= f.label :title, "Question" %><br>
              </div>

                <%= f.text_field :title, :class => "form-control", :placeholder => "Title of the Article" %>
              </div>

          <div class="article option">
              <div class="form-group">
                <%= f.label :url, "URL", :class=> "hidden" %><br>
                <%= f.text_field :url, :class => "form-control",  :placeholder => "URL" %>
              </div>
          </div>

              <!--<div class="form-group article option">
                <%= f.label :description, :class=> "hidden" %><br>
                <%= f.text_area :description,:rows => 6, :maxlength => 140, :class => "form-control",  :placeholder => "Description" %>
              </div>-->

              <%= f.submit "Submit", :class => "btn btn-primary", data: { disable_with: "Submitting..." } %>
            <% end %>
      </div>





