
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>URL:</strong>
  <a href="<%= @article.url %>" target="blank"><%= @article.title %></a>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Type of article:</strong>
  <%= @article.type_of_article %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<h2>Add a Comment:</h2>
<% if user_signed_in? %>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </p>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit "Submit Comment" %>
    </p>
  <% end %>
<% else %>
You must first register to post a comment %>
<% end %>

<h2>List Comments</h2>
<%= render @article.comments %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
