<%= link_to '<-- Back', root_path %>

<div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->

                <!-- Title -->
                <h2><%= @article.title %>
                <% if @article.type_of_article == "question" %>
                  <i class="fa fa-question-circle"></i> 
                <% else %>
                  <i class="fa fa-newspaper-o"></i> 
                <% end %> 
                </h2>
                <p> <a href="<%= @article.url %>" style="font-size:16px;"><%= @article.url %></a></p>

                <!-- Description -->
                <p class="lead"><%= @article.description %></p>

                <hr>

                <!-- Date/Time -->
                <p> 
                   <%= link_to '<i class="fa fa-caret-up"></i>'.html_safe, like_article_path(@article), method: :put %>
                    <%= @article.score %> |
                 <i class="fa fa-comments-o"></i>  
                  <%= @article.comments.count %> |
                  <i class="fa fa-user"></i>
                  <%= @article.user.email %> |
                   <i class="fa fa-clock-o"></i>
                  <%= time_ago_in_words(@article.created_at) %> ago
                </p>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <% if @article.comments.count != 0 %>
                <h3><i class="fa fa-comments"></i> <%= @article.comments.count %> Comments</h3>
                  <%= render @article.comments %>
                <% else %>
                  <h3>No comments yet...</h3>
                <% end %>

                <!-- Comments Form Start -->
                
                <hr>

                <div class="well">
                  <h4>Leave a Comment:</h4>
                    <%= form_for([@article, @article.comments.build]) do |f| %>
                      <div class="form-group">
                        <%= f.label :comment, :class => "hidden" %><br>
                        <%= f.text_area :comment, :rows => 6,:class => "form-control" %>
                      </div>
                      <% if user_signed_in? %>
                        <%= f.submit "Submit Comment", :class => "btn btn-primary", data: { disable_with: "Submitting comment..." } %>
                      <% else %>
                      You must be logged in to leave a comment. <%= link_to "Click here", new_user_session_path %> to sign in or <%= link_to "click here", new_user_registration_path %> to sign up.
                      <% end %>
                    <% end %>
                  </div>

                <hr>
                <!-- Comments Form End -->
              
            </div>


            </div>
