<%= link_to '<-- Back', articles_path %>

<div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @article.title %></h1>
                <% if @article.type_of_article == "question" %>
                  Question for Discussion
                <% else %>
                  Article
                <% end %> 
                <p> <a href="<%= @article.url %>" style="font-size:16px;"><%= @article.url %></a></p>

                <!-- Description -->
                <p class="lead"><%= @article.description %></p>

                <hr>

                <!-- Date/Time -->
                <p> 
                  <a href="#"><span class="glyphicon glyphicon-arrow-up"></span> 3</a> |
                 <span class="glyphicon glyphicon-fire"></span> 
                  <%= @article.comments.count %> |
                  <span class="glyphicon glyphicon-user"></span>
                  <%= @article.user.email %> |
                  <span class="glyphicon glyphicon-time"></span> 
                  <%= time_ago_in_words(@article.created_at) %> ago
                </p>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <% if @article.comments.count != 0 %>
                <h3><%= @article.comments.count %> Comments</h3>
                  <%= render @article.comments %>
                <% else %>
                  <h3>No comments yet...</h3>
                <% end %>

                <!-- Comments Form Start -->
                
                <hr>

                <div class="well">
                  <h4>Leave a Comment:</h4>
                    <%= form_for([@article, @article.comments.build]) do |f| %>
                      <div class="form-group">
                        <%= f.label :comment, :class => "hidden" %><br>
                        <%= f.text_area :comment, :rows => 6,:class => "form-control" %>
                      </div>
                      <% if user_signed_in? %>
                        <%= f.submit "Submit Comment", :class => "btn btn-primary", data: { disable_with: "Submitting comment..." } %>
                      <% else %>
                      You must be logged in to leave a comment. <%= link_to "Click here", new_user_session_path %> to sign in or <%= link_to "click here", new_user_registration_path %> to sign up.
                      <% end %>
                    <% end %>
                  </div>

                <hr>
                <!-- Comments Form End -->
              
            </div>


            </div>
