    <div class="jumbotron">
        <h1>Freak Nasty Friday</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
          <%= link_to 'New Article', new_article_path %>
        </p>
      </div>

    <div class="row">
      <div class="col-md-9">
        <% @articles.each do |article| %>
            <div class="col-md-12">
              <h2><a href="<%= article.url %>" target="blank"><%= article.title %></a> <%= Comment.where(:article_id => article ).count %> by <%= article.user_id %></h2>
              <p><%= article.description %></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            <hr>
            </div>

        <% end %>
      </div>
             <div class="col-md-3 well">
              <h2>About</h2>
              <p>about fnf here</p>
            </div>

   </div><!--/row-->










