<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <h1 class="page-header" style="text-align:center; font-size:40px;">
                    Freak Nasty Always<br>
                    <small><%= link_to 'New Submission', new_article_path, { :class => "btn btn-primary btn-lg" } %><small>
                </h1>
            </div>

          <div class="col-md-8">
                <!-- Article Post -->
              <% @articles.each do |article| %>
                <h2 class="post-title">
                    <%= link_to article.title, article %>
                     <% if article.type_of_article == "question" %>
                      <i class="fa fa-question-circle fa-fw"></i> 
                    <% else %>
                      <i class="fa fa-newspaper-o"></i> 
                    <% end %> 
                </h2>
               
                <p class="lead" style="margin-bottom:10px;">
                  <a href="<%= article.url %>" style="font-size:16px;" target="_blank"><%= article.url %></a>
                </p>
                <!--<p><%= article.description %></p>-->
                <p>
                 <a href="#"><i class="fa fa-caret-up"></i>  3</a> |
                 <a href="#">
                 <i class="fa fa-comments-o"></i> <%= Comment.where(:article_id => article ).count %></a> |
                  <i class="fa fa-user"></i>
                  <%= article.user.email %> |
                  <i class="fa fa-clock-o"></i>
                  <%= time_ago_in_words(article.created_at) %> ago
                </p>
                <hr>
              <% end %>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="margin-top:20px;">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>About Freak Nasty Always </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>
           </div><!--/row--> 


   










