<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <h1 class="page-header" style="text-align:center; font-size:40px;">
                    Freak Nasty Always<br>
                    <small><%= link_to 'New Article', new_article_path, { :class => "btn btn-primary btn-lg" } %><small>
                </h1>
            </div>

          <div class="col-md-8">
                <!-- Article Post -->
              <% @articles.each do |article| %>
                <h2>
                    <%= link_to article.title, article %>
                </h2>
                <p class="lead" style="margin-bottom:10px;">
                  <a href="<%= article.url %>" style="font-size:16px;"><%= article.url %></a>
                </p>
                <!--<p><%= article.description %></p>-->
                <p>
                 <a href="#"><span class="glyphicon glyphicon-arrow-up"></span> 3</a> |
                 <a href="#"><span class="glyphicon glyphicon-pencil"></span> 
                  <%= Comment.where(:article_id => article ).count %></a> |
                  <span class="glyphicon glyphicon-user"></span>
                  Username |
                  <span class="glyphicon glyphicon-time"></span> 
                  <%= time_ago_in_words(article.created_at) %> ago
                </p>
                <hr>
              <% end %>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="margin-top:20px;">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>About Freak Nasty Always </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>
           </div><!--/row--> 


   










